# Copiar a .env y ajustar si es necesario
POSTGRES_DB=analitica_inversiones
POSTGRES_USER=analitica
POSTGRES_PASSWORD=analitica
POSTGRES_HOST=localhost
POSTGRES_PORT=5440

# Carpeta con los CSV suministrados (no versionados)
DATA_DIR=./data

DJANGO_SECRET_KEY=cambiar-en-produccion
DJANGO_DEBUG=True
